@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,800;1,200&family=Work+Sans:wght@100;400;500;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
		background-color: white;
    margin: auto;
}

/*All of the navigation stylings*/
.navigation {
    background-color: white;
    position: fixed;
    z-index: 0;
    margin: auto;
    width: 100%;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation li {
    padding: 20px;
    list-style: none;
}

.navigation a {
    padding: 5px;
    border-radius: 20px;
}

.navigation a:link {
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgb(169, 229, 245);
    color: white;
}

.navigation a:visited {
    text-decoration: none;
}

/*Surrounds all page content EXCEPT the navigation bar*/
#content {
    background-color: white;
    position: relative;
    top: 200px;
}

#intro {
    position: relative;
    text-align: center;
    height: 10%;
    width: 100%;
    background-color: rgb(169, 229, 245);
}

#intro .content {
    padding: 5px;
}

#intro .content h1 {
    font-size: 100px;
}

#intro .content p {
    font-size: 30px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

#experience {
    margin-top: 100px;
}

#experience table {
    width: 100%;
}

#experience table {
    margin-top: 50px;
}

#experience td {
    width: 30%;
    text-align: center;
}

#experience .image2 {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#experience td img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

#experience .descriptions td {
    padding-top: 50px;
    font-size: 20px;
}

#experience p {
    text-align: center;
    width: 600px;
    margin: auto;
}

#contact {
    margin-top: 100px;
}

#contact .content {
    padding-bottom: 40px;
}

#contact .content p {
    text-align: center;
    width: 600px;
    margin: auto;
    line-height: 40px;
}