@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,800;1,200&family=Work+Sans:wght@100;400;500;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
	background-color: white;
    margin: auto;
}

/*All of the navigation stylings*/
.navigation {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    width: 100%;
}

.navigation h3 {
    padding-left: 20px;
    margin-top: 25px;
    font-size: 20px;
}

.navigation ul {
    padding-right: 20px;
    text-align: right;
}

.navigation li {
    padding: 10px;
    list-style: none;
    display: inline-block;
}

.navigation button {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif !important;
    border: none;
    background-color: transparent;
    background-size: 20px;
    border-radius: 10px;
}

.navigation button:link {
    color: black;
    text-decoration: none;
}

.navigation button:hover {
    background-color: rgb(169, 229, 245);
    color: white !important;
}

.navigation button:visited {
    text-decoration: none;
    color: black;
}

/*Surrounds all page content EXCEPT the navigation bar*/
#content {
    background-color: white;
    position: relative;
}

#content #name {
    position: relative;
    display: inline-block;
    margin: 0, auto;
    width: 40%;
}

#intro {
    text-align: center;
    height: 5%;
    width: 100%;
    background-color: rgb(169, 229, 245);
    padding: 1%;
}

#intro .content h1 {
    font-size: 100px;
}

#intro .content p {
    font-size: 30px;
    width: 60%;
    text-align: center;
    margin-left: 20%;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

#experience {
    margin-top: 100px;
}

#experience table {
    width: 100%;
}

#experience table {
    margin-top: 50px;
}

#experience td {
    width: 30%;
    text-align: center;
}

#experience .image2 {
    border-left: 5px solid black;
    border-right: 5px solid black;
}

#experience td img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

#experience .languages td {
    padding-top: 50px;
    font-size: 20px;
}

#experience p {
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
}

#experience h2 {
    padding-top: 50px;
    text-align: center;
}

#experience button {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

#experience #github-button {
    font-size: 22px;
}

#experience button:link, a:visited {
    color: black;
    text-decoration: none;
}

#experience button:hover {
    background-color: rgb(169, 229, 245);
    color: white;
}

#experience .langpages h1 {
    letter-spacing: 30px;
}

#experience #python {
    padding: 100px 0;
}

#experience #java {
    padding: 100px 0;
}

#experience #htmlcssjs {
    padding: 100px 0;
}

#experience #htmlcssjs .space {
    margin-top: 20px;
}


#contact {
    margin-top: 100px;
}

#contact .content {
    padding-bottom: 40px;
}

#contact .content p {
    text-align: center;
    width: 600px;
    margin: auto;
    line-height: 40px;
}